*{
  margin: 0;
  padding: 0;
}

li,ul{
  list-style: none;
}


body{
  background: linear-gradient(to right, #414345, #232526);
}


input:hover{
  cursor: pointer;
}

.card-img-container{
  transition: all 300ms ease-in-out;
}
.card-img-container:hover {
  transform: scale(1.1);
  z-index: 10;
  cursor: pointer;
}


